.App {
  text-align: center;
  background: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  font-size: 32px;
  background: none;
}

.timerButton {
  margin: auto;
}

.menu {
  width: 35%;
  float: left;
  margin-top: 50px;
  margin-left: 25px;
}
.memos {
  width: 49%;
  float: left;
  margin-right: 50px;
  margin-left: 25px;
}

#timer {
  float: right;
  position: relative;
  z-index: 2;
  right: -220px;
  top: -700px;
  margin: 49%;
}

#leaderboard {
  position: relative;
  z-index: 1;
  top: -1080px;
  right: -1180px;
  width: 450px;
  background: none;
}

.container {
  width: 45%;
  height: 100%;
  display: block;
}

#card {
  backgroundColor: black;
  color: red;
}
